%inter-regular {
  font-family: 'Inter-Regular', sans-serif;
  font-weight: 400;
}

%inter-medium {
  font-family: 'Inter-Medium', sans-serif;
  font-weight: 500;
}

%inter-semibold {
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
}

%inter-bold {
  font-family: 'Inter-Bold', sans-serif;
  font-weight: 700;
}

$black: #2a2a2a;
$primary-color: #4d4aea;
