$gray-start: #666;
$gray-end: #999;

.room__wrapper *,
.room__wrapper *::after,
.room__wrapper *::before {
  box-sizing: border-box;
  user-select: none;
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: transparent;
}
.room__wrapper {
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  overflow-y: hidden;
  overflow: hidden;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
.room__zoom-buttons {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    * {
      transform-style: initial;
    }
  }
}
.face {
  position: absolute;
}
.bordered {
  border-left: var(--line-depth) solid $gray-start;
  border-right: var(--line-depth) solid $gray-start;
}
.face span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
}
.house {
  position: absolute;
  width: var(--room-width);
  height: var(--room-length);
  transform: perspective(90vw) rotateX(50deg) rotateZ(45deg) translateZ(-12vw);
}
/***************/
/***************/
.floor {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.floor__front {
  width: 100%;
  height: var(--half-wall-depth);
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(calc(var(--room-length) - var(--half-wall-depth)));
}
.floor__back {
  width: 100%;
  height: var(--half-wall-depth);
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-100%)
    translateY(calc(var(--half-wall-depth) * -1));
}
.floor__right {
  width: var(--half-wall-depth);
  height: 100%;
  transform-origin: top right;
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg)
    translateZ(calc(var(--half-wall-depth) * -1)) translateX(0) translateY(0);
}
.floor__left {
  left: 100%;
  width: var(--half-wall-depth);
  height: 100%;
  transform-origin: top right;
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg)
    translateZ(calc(var(--half-wall-depth) * -1)) translateX(0) translateY(0);
}
.floor__top {
  width: 100%;
  height: 100%;
  transform-origin: top left;
  transform: translateZ(var(--half-wall-depth));
}
.floor__bottom {
  width: 100%;
  height: 100%;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-100%);
}
.floor__front {
  background-color: $gray-start;
}
.floor__back {
  background-color: $gray-start;
}
.floor__right {
  background-color: $gray-start;
}
.floor__left {
  background-color: $gray-start;
}
.floor__top {
  background-color: $gray-start;
}
.floor__bottom {
  background-color: $gray-start;
}
/***************/
/***************/
.wall-left {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--wall-depth);
  height: 100%;
  transform: translateZ(var(--half-wall-depth));
}
.wall-left__front {
  width: var(--wall-depth);
  height: var(--room-height);
  transform-origin: top right;
  transform: rotateX(90deg) translateZ(calc(var(--room-length) * -1));
}
.wall-left__back {
  width: var(--wall-depth);
  height: var(--room-height);
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(calc(var(--wall-depth) * -1))
    translateY(calc(var(--room-height) * -1));
}
.wall-left__right {
  width: var(--room-length);
  height: var(--room-height);
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(var(--wall-depth))
    translateX(calc(var(--room-length) * -1)) translateY(calc(var(--room-height) * -1));
}
.wall-left__left {
  width: var(--room-length);
  height: var(--room-height);
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(calc(var(--room-height) * -1));
}
.wall-left__top {
  width: var(--wall-depth);
  height: 100%;
  transform-origin: top left;
  transform: translateZ(var(--room-height));
}
.wall-left__bottom {
  width: var(--wall-depth);
  height: 100%;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(calc(var(--wall-depth) * -1));
}
.wall-left__front {
  background-color: $gray-end;
}
.wall-left__back {
  background-color: $gray-end;
}
.wall-left__right::before {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: var(--wall-depth);
  background-color: $gray-start;
  border-top: var(--line-depth) solid #282347;
  border-bottom: var(--line-depth) solid #282347;
}
.wall-left__left {
  background-color: $gray-end;
}
.wall-left__bottom {
  background-color: $gray-end;
}
.wall-left__top {
  background-color: $gray-start;
}
.wall-left.active {
  .wall-left__right {
    opacity: 0;
  }
  .wall-left__left {
    opacity: 0.2;
  }
}
/***************/
/***************/
.wall-right {
  position: absolute;
  right: 0;
  top: 0;
  width: var(--wall-depth);
  height: 100%;
  transform: translateZ(var(--half-wall-depth));
}
.wall-right__front {
  width: var(--wall-depth);
  height: var(--room-height);
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(calc(var(--wall-depth) * -1))
    translateY(calc(var(--room-height) * -1)) translateZ(calc(var(--room-length) * -1));
}
.wall-right__back {
  width: var(--wall-depth);
  height: var(--room-height);
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(calc(var(--wall-depth) * -1))
    translateY(calc(var(--room-height) * -1));
}
.wall-right__right {
  width: var(--room-length);
  height: var(--room-height);
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(var(--wall-depth))
    translateX(calc(var(--room-length) * -1)) translateY(calc(var(--room-height) * -1));
}
.wall-right__left {
  width: var(--room-length);
  height: var(--room-height);
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(calc(var(--room-height) * -1));
}
.wall-right__top {
  width: var(--wall-depth);
  height: 100%;
  transform-origin: top left;
  transform: translateZ(var(--room-height));
}
.wall-right__bottom {
  width: var(--wall-depth);
  height: 100%;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(calc(var(--wall-depth) * -1));
}
.wall-right__front {
  background-color: $gray-end;
}
.wall-right__back {
  background-color: $gray-end;
}
.wall-right__right {
  background-color: $gray-end;
}
.wall-right__left::before {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: var(--wall-depth);
  background-color: $gray-start;
  border-top: var(--line-depth) solid #282347;
  border-bottom: var(--line-depth) solid #282347;
}
.wall-right__top {
  background-color: $gray-start;
}
.wall-right__bottom {
  background-color: $gray-end;
}
.wall-right.active {
  .wall-right__right {
    opacity: 0.2;
  }
  .wall-right__left {
    opacity: 0;
  }
}
/***************/
/***************/
.wall-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--wall-depth);
  transform: translateZ(var(--half-wall-depth));
}
.wall-top__front {
  width: 100%;
  height: var(--room-height);
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(calc((var(--room-height) - var(--wall-depth)) * -1));
}
.wall-top__back {
  width: 100%;
  height: var(--room-height);
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-100%)
    translateY(calc(var(--room-height) * -1));
}
.wall-top__right {
  left: 100%;
  width: var(--wall-depth);
  height: var(--room-height);
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(0) translateX(calc(var(--wall-depth) * -1))
    translateY(calc(var(--room-height) * -1));
}
.wall-top__left {
  width: var(--wall-depth);
  height: var(--room-height);
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(calc(var(--room-height) * -1));
}
.wall-top__top {
  width: 100%;
  height: var(--wall-depth);
  transform-origin: top left;
  transform: translateZ(var(--room-height));
}
.wall-top__bottom {
  width: 100%;
  height: var(--wall-depth);
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-100%);
}
.wall-top__front::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--wall-depth);
  background-color: $gray-start;
  border-top: var(--line-depth) solid #282347;
  border-bottom: var(--line-depth) solid #282347;
}
.wall-top__back {
  background-color: $gray-end;
}
.wall-top__right {
  background-color: $gray-end;
}
.wall-top__left {
  background-color: $gray-end;
}
.wall-top__top {
  background-color: $gray-start;
}
.wall-top__bottom {
  background-color: $gray-end;
}
.wall-top.active {
  .wall-top__front {
    opacity: 0;
  }
  .wall-top__back {
    opacity: 0.2;
  }
}
/***************/
/***************/
.wall-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--wall-depth);
  transform: translateZ(var(--half-wall-depth));
}
.wall-bottom__front {
  width: 100%;
  height: var(--room-height);
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(calc((var(--room-height) - var(--wall-depth)) * -1));
}
.wall-bottom__back {
  width: 100%;
  height: var(--room-height);
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-100%)
    translateY(calc(var(--room-height) * -1));
}
.wall-bottom__right {
  left: 100%;
  width: var(--wall-depth);
  height: var(--room-height);
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(0) translateX(calc(var(--wall-depth) * -1))
    translateY(calc(var(--room-height) * -1));
}
.wall-bottom__left {
  width: var(--wall-depth);
  height: var(--room-height);
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(calc(var(--room-height) * -1));
}
.wall-bottom__top {
  width: 100%;
  height: var(--wall-depth);
  transform-origin: top left;
  transform: translateZ(var(--room-height));
}
.wall-bottom__bottom {
  width: 100%;
  height: var(--wall-depth);
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-100%);
}
.wall-bottom__front {
  background: $gray-end;
}
.wall-bottom__back::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--wall-depth);
  background-color: $gray-start;
  border-top: var(--line-depth) solid #282347;
  border-bottom: var(--line-depth) solid #282347;
}
.wall-bottom__right {
  background-color: $gray-end;
}
.wall-bottom__left {
  background-color: $gray-end;
}
.wall-bottom__top {
  background-color: $gray-start;
}
.wall-bottom__bottom {
  background-color: $gray-end;
}
.wall-bottom.active {
  .wall-bottom__front {
    opacity: 0.2;
  }
  .wall-bottom__back {
    opacity: 0;
  }
}
/***************/
/***************/
.room-door {
  position: absolute;
  z-index: 1;
  left: var(--door-width);
  transform: translateX(-50%);
  bottom: 0;
  width: var(--door-width);
  height: var(--door-height);
  background-image: url('/door.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &.active {
    display: none;
  }
}
/***************/
/***************/
.room-window {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: var(--window-length);
  width: var(--window-width);
  height: var(--window-height);
  background-image: url('/window.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &.active {
    display: none;
  }
}
